[submodule "frontend"]
	path = frontend
	url = https://github.com/ziqing6007/git-submodule-test-frontend
[submodule "backend"]
	path = backend
	url = https://github.com/ziqing6007/git-submodule-test-backend
